#sbi-main-button {
    flex: 1 1 100%;
}

.sbi-window .window-content {
    display: flex;
    flex-direction: column;
}

.sbi-window .sbi-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 0;
}

.sbi-window #sbi-input {
    flex: 1 1 auto;
    min-height: 200px;
    resize: none;
    font-family: var(--font-monospace, monospace);
    font-size: var(--font-size-13, 13px);
    white-space: pre-wrap;
}

.sbi-window #sbi-bottom {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sbi-window #sbi-import-text {
    flex: 0 0 auto;
}

.sbi-window #sbi-import-select {
    flex: 1 1 33%;
}

.sbi-window #sbi-import-button {
    flex: 0 0 33%;
    margin-left: auto;
}
